@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingDesktopTheme;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.gif";

    var allureLogo = @Html.Widget("allure_theme_logo");
}
<div class="header">
    @Html.Widget("header")
    <div class="header-links-wrapper">
        <div class="header-centering">
            <div class="header-selectors-wrapper">
                <div class="tax-display-type-selector">
                    @Html.Action("TaxTypeSelector", "Common")
                </div>
                <div class="currency-selector">
                    @Html.Action("CurrencySelector", "Common")
                </div>
                <div class="language-selector">
                    @Html.Action("LanguageSelector", "Common")
                </div>
                @Html.Widget("header_selectors")
            </div>
            @Html.Action("HeaderLinks", "Common")
        </div>
    </div>
    <div class="header-centering">
        <div class="header-logo">
            <a href="@Url.RouteUrl("HomePage")" class="logo">
                @if (!MvcHtmlString.IsNullOrEmpty(allureLogo))
                {
                    @allureLogo
                }
                else
                {
                    <img title="" alt="" src="@Url.Content(logoPath)">
                }
            </a>
        </div>
        @*<div class="desktop-header-right">
            <div class="search-box">
                @Html.Action("SearchBox", "Catalog")
            </div>
            <div class="desktop-cart">
                <div class="shopping-cart-link">
                    <a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a>
                    @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                </div>
            </div>
        </div>*@
        <div class="justAFixingDivBefore"></div>
        <div class="header-menu">
            <div class="close-menu">
                <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
            </div>
            @{
                var menuHtml = Html.Widget("theme_header_menu");
            }
            @if (!MvcHtmlString.IsNullOrEmpty(menuHtml))
            {
                @menuHtml
            }
            else
            {
                @Html.Action("TopMenu", "Catalog")
            }
        </div>
        @*<div style="margin: 20px 50px 0 0;">
            <div class="search-box">
                @Html.Action("SearchBox", "Catalog")
            </div>
            <div class="desktop-cart">
                <div class="shopping-cart-link">
                    <a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a>
                    @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                </div>
            </div>
        </div>*@
    </div>
</div>
