@model TopMenuModel
@using Nop.Web.Models.Catalog;
@{
    Html.AddScriptParts("~/Plugins/SevenSpikes.Core/Scripts/SevenSpikesExtensions.js");

    var isRtl = this.ShouldUseRtlTheme();

    var theme = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Web.Framework.Themes.IThemeContext>().WorkingDesktopTheme;
}

<input type="hidden" value="@isRtl.ToString().ToLowerInvariant()" id="isRtlEnabled" />
@helper RenderCategoryLine(CategorySimpleModel category)
{
    <li>
        @{
            if (category.NumberOfProducts.HasValue)
                {
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name @T("Categories.TotalProducts", category.NumberOfProducts.Value)</a>
                }
                else
                {
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
                }
                
            @*if (category.SubCategories.Count > 0)
            {
                <a class="with-subcategories" href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
                <div class="plus-button"></div>
                <ul class="sublist">
                    <li class="back-button">
                        <span>@T("SevenSpikes.Themes.Common.BackSublist")</span>
                    </li>
                    @foreach (var subCategory in category.SubCategories)
                    {
                        @RenderCategoryLine(subCategory)
                    }
                </ul>
            }
            else
            {
                if (category.NumberOfProducts.HasValue)
                {
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name @T("Categories.TotalProducts", category.NumberOfProducts.Value)</a>
                }
                else
                {
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
                }
            }*@
        }
    </li>
    
}
<ul class="top-menu">
    @Html.Widget("header_menu_before")
    <li style="margin-right:15px;"><a title="Home" href="/">Home</a></li>
    @if (Model.Categories.Count > 0)
    {
        foreach (var category in Model.Categories)
        {
            @RenderCategoryLine(category)
        }
    }
    else
    {
        //no categories to display?
        //in this case let's diplay some default menu items
        <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
        if (Model.RecentlyAddedProductsEnabled)
        {
            <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a></li>
        }
        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
        if (Model.BlogEnabled)
        {
            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
        }
        if (Model.ForumEnabled)
        {
            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
        }
        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    }
    <li style="margin-right:15px;"><a title="News" href="/news/">PR & Gallery</a></li>
    <li style="margin-right:15px;"><a title="News" href="/contactus/">Contact Us</a></li>
    @Html.Widget("header_menu_after")
    <div class="desktop-cart">
        <div class="shopping-cart-link">
            <a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a>
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
</ul>