@using SevenSpikes.Nop.Plugins.PrevNextProduct.MVC
@using SevenSpikes.Nop.Framework.MVCExtensions
@using SevenSpikes.Nop.Plugins.PrevNextProduct.Models

@model PrevNextInfoModel
@{
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.PrevNextProduct/Themes/" + Model.Theme + "/Content/prevnextproduct.css");

    var supportRtl = this.ShouldUseRtlTheme();
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.PrevNextProduct/Themes/" + Model.Theme + "/Content/prevnextproduct.rtl.css");
    }
}

<div class="previous-product">
    @if (Model.PrevProductSeName != null)
    {
        <a href="@Url.RouteUrl("Product", new { SeName = Model.PrevProductSeName })">@T("SevenSpikes.Plugins.PrevNextProduct.PrevButtonText") (@Model.PrevProductName)</a>
    }
    else
    {
        <span>@T("SevenSpikes.Plugins.PrevNextProduct.PrevButtonText")</span>
    }
</div>
<div class="next-product">
    @if (Model.NextProductSeName != null)
    {
        <a href="@Url.RouteUrl("Product", new { SeName = Model.NextProductSeName })">@T("SevenSpikes.Plugins.PrevNextProduct.NextButtonText") (@Model.NextProductName)</a>
    }
    else
    {
        <span>@T("SevenSpikes.Plugins.PrevNextProduct.NextButtonText")</span>
    }
</div>