@** Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@model TopicModel
@using Nop.Web.Models.Topics;
@using Nop.Web.Extensions;

<li>
    @if (!String.IsNullOrEmpty(Model.Title))
    {
        <a href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName(Model.SystemName) })">@Model.Title</a>
    }
    else
    {
        <a href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName(Model.SystemName) })">@T("SevenSpikes.MegaMenu.DefaultTopicTitle")</a>
    }
    @if (!string.IsNullOrEmpty(Model.Body))
    {
        <div class="dropdown">
            @Html.Raw(Model.Body)
        </div>
    }
</li>