@** Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@{
    Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.AjaxFilters/Scripts/OnSaleFilter.min.js");
}

@model OnSaleFilterModel7Spikes

@using SevenSpikes.Nop.Plugins.AjaxFilters.Models.OnSaleFilter;
@using SevenSpikes.Nop.Plugins.AjaxFilters.Common;
@using SevenSpikes.Nop.Plugins.AjaxFilters.Domain;

@if (Model.NopAjaxFiltersSettings.FiltersUIMode == FiltersUIMode.UseDropdowns)
{   
    <script type="text/javascript">

        $(document).ready(function () {
            $("#onSaleFiltersDropDown").jDropDown();
        })

    </script>
}

@{
    string toggleStateClass = "toggleControl";
    string toggleStateStyles = "";
    if (Model.NopAjaxFiltersSettings.CloseOnSaleFilterBox == true)
    {
        toggleStateClass = "toggleControl closed";
        toggleStateStyles = "display: none;";
    }
}

@{
    string filterItemCssClass = "filterItemUnselected";

    if (Model.FilterItemState == FilterItemState.Checked)
    {
        filterItemCssClass = "filterItemSelected";
    }
    
    Func<int, HelperResult> onSaleOptionsHtml =
    @<text>          
    <li><a class="@filterItemCssClass" data-option-id="@Model.Id">@Model.Name</a>
    </li>
    </text>;
}

<div class="block filter-block onSaleFilterPanel7Spikes">
    <div class="title">
        <a class="@toggleStateClass">@T("OnSale")</a>
        <a class="clearFilterOptions">@T("SevenSpikes.NopAjaxFilters.Client.Common.Clear")</a>
    </div>
    @if (Model.NopAjaxFiltersSettings.FiltersUIMode == FiltersUIMode.UseCheckboxes)
    {
        <div class="filtersGroupPanel" style="@toggleStateStyles">
            <ul>
                @onSaleOptionsHtml(0)
            </ul>
        </div>
    }
    else if (Model.NopAjaxFiltersSettings.FiltersUIMode == FiltersUIMode.UseDropdowns)
    {
        <div class="filtersGroupPanel filtersDropDownPanel" style="z-index: 6; @toggleStateStyles">
            <div id="onSaleFiltersDropDown" class="filtersDropDown">
                <div>
                    <p></p>
                </div>
                <ul>
                    <li class="selected">
                        <a class="allFilterDropDownOptions">@T("SevenSpikes.NopAjaxFilters.Client.Common.All")</a>
                    </li>
                    @onSaleOptionsHtml(0)
                </ul>
            </div>
        </div>
    }
</div>
